

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.info-table th, td {
    border: 1px solid #000 ;
    padding: 8px;
}

.audit-table th, .audit-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
    text-align: center;
    vertical-align: middle;
}

.soft-services {
    background-color: #c84143 !important;
    text-align: center;
    color:white;
}

.repair-activities {
    background-color: #c84143 !important;
    text-align: center;
    color: white;
}

.section-title {
    text-align: center;
    font-size: 1.2em;
    background-color: #c84143 !important;
    padding: 10px;
    border: 1px solid #000;
}

.form-container span {
    margin-left: 10px;
    font-weight: 600;
}

.ImageDiv {
    border: 1px solid;
    height: 400px;
    padding: 0px;
}


