/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

td a.btn.btn-primary.float-right {
    float: none !important;
    justify-content: center;
}





a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background-color: #545454 !important;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 10%);
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.form {
    width: 100%;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #393939;
    color: #fff;
    transition: all 0.3s;
    height: 100vh;
    margin-top: 29%;
}
#data-table thead th {
    border: 1px solid white;
    background-color: #bdbdbd !important;
    color: black !important;
    font-weight: 500 !important;
}
table.dataTable tr.odd {
    background-color: #9e9b9b21 !important;
}
.btn-primary {
    color: #fff;
    background-color: #3a57cb;
    border-color: #6482f8;
}
svg.svg-inline--fa.fa-edit.fa-w-18 {
    color: black !important;
}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
    /*width: 100%;*/
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    /*background: #6d7fcc;*/
}

#sidebar ul.components {
    /* padding: 20px 0;*/
    /* border-bottom: 1px solid #47748b;*/
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

    #sidebar ul li a:hover {
        color: #7386D5;
        background: #fff;
    }

#sidebar ul li.active > a,
{
    color: #fff;
    background: #6d7fcc;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    display: none;
    float: left;
    left: inherit;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}

a[data-toggle="collapse"] {
    position: relative;
}

.active .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.card-header:first-child {
    background: #6e6e6e2e !important;
}

ul ul a {
    /*font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;*/

    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #575757;
    border-bottom: 1px dotted;
}
    ul ul a span {
        / color: black;
        / font-weight: 500;
    }

ul.CTAs {
    padding: 20px;
}

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.DataDate {
}

.DataDateTime {
}

.DataTime {
}

.DataNumeric {
}

.DataVarchar {
}

.DataMandatory {
}

.Datafloat {
}

#content {
    width: 100%;
    padding: 20px 70px;
    /* min-height: 100vh; */
    transition: all 0.3s;
    margin-top: 6%;
}

.btn-info {
    color: #000;
    background-color: #ffffff;
    border-color: #ffffff;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255);
}

.text-primary {
    color: #393939 !important;
}
.jumbotron {
    box-shadow: 0px 0px 10px 0px #80808057;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
ul.nav.navbar-nav {
    width: 100%;
    display: block;
    text-align: end;
}
table .btn.btn-primary.float-right {
    margin-bottom: 0px !important;
    height: 23px;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    font-size: 1rem
}
svg.svg-inline--fa.fa-trash.fa-w-14 {
    color: red;
}

svg.svg-inline--fa.fa-eye.fa-w-18 {
    color: blue;
}
svg.svg-inline--fa.fa-print.fa-w-16 {
    color: green;
}

@media (max-width:1800px) {
    #sidebar {
        min-width: 190px;
        max-width: 190px;
    }
    svg.svg-inline--fa.fa-print.fa-w-16 {
        color: green;
    }

        #sidebar ul li a {
            font-size: 1em;
        }

    .sidebar-header img {
        width: 100% !important;
        margin-left: 0px !important;
        /*height: 60px !important;*/
    }
    .sidebar-header {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    h6#header {
        font-size: 0.9rem;
    }

    .fixTableHead tr th {
        font-size: 0.9rem;
        font-weight:800;
    }
    .table-bordered td {
        font-size: 0.8rem;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    table .btn.btn-primary.float-right {
        margin-bottom: 0px !important;
        height: 23px;
        display: flex;
        align-items: center;
        background: none;
        border: none;
        font-size: 1rem
    }
    a.btn.btn-primary.float-right {
        padding: .275rem .75rem;
        font-size: 0.8rem
    }
    .btn {
        padding: .275rem .75rem;
        font-size: 0.8rem
    }
    ul ul a {
        font-size: 0.8em !important;
    }
        svg .svg-inline--fa.fa-trash.fa-w-14 {
        color: red;
    }
    svg.svg-inline--fa.fa-eye.fa-w-18 {
        color: blue;
    }
    .form-control {
        padding: 0.3rem 0.5rem;
        font-size:0.8rem;
    }
    .form-group label {
        font-size: 0.8rem;
    }
    ::placeholder{
        font-size:0.8rem;
    }
    a.dropdown-item {
        font-size: 0.8rem;
        padding: 0.6rem 0.6rem;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
        min-width: 6rem;
        text-align: center;
    }
    .dropdown-item svg.svg-inline--fa.fa-sign-out-alt.fa-w-16 {
        margin-left: 5px;
    }

    svg.svg-inline--fa.fa-trash.fa-w-14 {
        color: red !important;
    }

}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    .jumbotron {
        box-shadow: 0px 0px 10px 0px #80808057;
        margin: 10px;
        margin-top: 60px;
        display: inline-flex;
    }

    #content {
        width: 100%;
        padding: 0px;
        /* min-height: 100vh; */
        transition: all 0.3s;
        margin-top: 6%;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}

@media (max-width: 991px) {
    .dropdown.show .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 17%;
        right: 20px;
        transform: translateY(-50%);
    }
}

label {
    font-weight: 600;
    color: #555;
}
