@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_MainLayout1.cshtml";
}

<style>
   .welcome-container img{
        width: 23rem
    }
</style>


<div class="welcome-container d-flex flex-column justify-content-center align-items-center text-center" style="margin:auto;">
 
    <div style="margin:auto;max-width:1200px;">
<img src="~/GroupL.jfif"/>
    </div>
   
</div>





