
@{
    ViewData["Title"] = "Audit Status Report";
    Layout = "~/Views/Shared/_MainLayout1.cshtml";
    }


<style>
    .preloader {
        width: 90px;
        position: fixed;
        top: 50%;
        left: 50%;
    }
</style>
<div class=" container-fluid" id="bdy">
    <div class="card shadow mt-4" style="">
        <div class="card-header py-3">
          
            <h6 id="header" class="m-0 font-weight-bold text-primary "> Audit Status Report</h6>
        </div>
        <div class="card-body">

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document" style="width: fit-content;margin-top: 90px;">
                    <div class="modal-content" style="margin: 0 auto;">
                        <div class="modal-header">
                            <button onclick="rotateImage()" class="btn btn-primary">Rotate</button>
                            <button type="button" onclick="resetImageRotation()" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img class="modal-content" style="width: 304px;height: 280px;" id="img01">
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <input type="hidden" id="txtHiddenId" value="0" />
                <input type="hidden" id="flgmode" value="ADD" />
                <input type="hidden" id="UserId" value="@ViewBag" />
                <input type="hidden" id="txtpagename" value="Audit Status Report " />




                <div class="col-md-4" id="datafiled">
                    <div class="form-group">
                        <label for="fromDate" class="form-label">From Date</label>
                        <input type="date" class="form-control" id="txtfromdate" name="Date" onchange="SearchData()" />

                    </div>
                </div>

                <div class="col-md-4" id="datafiled">
                    <div class="form-group">
                        <label for="txttoDate" class="form-label">To Date</label>
                        <input type="date" class="form-control" id="txttoDate" name="Date" onchange="SearchData()" />

                    </div>
                </div>
               
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Select Client</label>
                        <select class="form-control" id="custid" onchange="SearchData()">
                            <option value="All">All</option>
                            @if (ViewBag.customer != null)
                            {
                                foreach (var item in ViewBag.customer as List<SelectListItem>)
                                {
                                    <option value="@item.Value">@item.Text (@item.Value)</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="preloaderid">  <img class="preloader" style="display:none;" src="~/loading-waiting.gif" /></div>

                <div class="col-lg-12">
                    @* <button class="btn btn-primary" onclick="SearchData()">View Shortage</button> *@
                    <button class="btn btn-primary" onclick="exportexcel()">Export To Excel</button>
                    <button class="btn btn-primary" id="Genratepdf">Export To PDF</button>

                </div>

                <div class="table-responsive mt-2">
                    <div class="table table-bordered" id="prindDiv" width="100%" cellspacing="0">
                        @*    <style>
                table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                text-align:center;

                }


                </style> *@
                        <table id="data-table">

                            <thead>
                                <tr style="background-color: #c84143 !important;">
                                    @* <th>Action</th> *@
                                    <th>S.No</th>
                                    <th>Customer Name</th>
                                    <th>Total Branches</th>
                                    <th>Total Visits Done</th>
                                    <th>Branches Not Visited</th>
                                    <th>Lowest Rating</th>
                                    <th>No. of Units of Lowest Rating</th>
                                    <th>Highest Rating</th>
                                    <th>No. of Units of Highest Rating</th>



                                </tr>
                            </thead>
                            <tbody class="companybody">
                            </tbody>
                        </table>
                    </div>

                    <div class="table table-bordered" id="prindDivHid" style="display:none;" width="100%" cellspacing="0">
                        @*    <style>
                table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                text-align:center;

                }


                </style> *@

                        <table id="data-tablehid">

                            <thead>
                                <tr>

                                    <th>S.No</th>
                                    <th>Customer Name</th>
                                    <th>Total Branches</th>
                                    <th>Total Visits Done</th>
                                    <th>Branches Not Visited</th>
                                    <th>Lowest Rating</th>
                                    <th>No. of Units of Lowest Rating</th>
                                    <th>Highest Rating</th>
                                    <th>No. of Units of Highest Rating</th>





                                </tr>
                            </thead>

                            <tbody class="companybody">
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="~/js/reports/AuditStatusReport.js"></script>
<script src="~/js/Master.js"></script>

<script src="~/js/xlxs.full.min.js"></script>









    
