@{
    ViewData["Title"] = "Consolidated Material Report";
    Layout = "~/Views/Shared/_MainLayout1.cshtml";
}
<style>
    .preloader {
        width: 90px;
        position: fixed;
        top: 50%;
        left: 50%;
    }
</style>

<div class=" container-fluid" id="bdy">
    <div class="card shadow mt-4" style="">
        <div class="card-header py-3">
            <h6 id="header" class="m-0 pl-1 font-weight-bold text-primary ">Consolidated Material Report</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <input type="hidden" id="txtHiddenId" value="0" />
                <input type="hidden" id="flgmode" value="ADD" />
                <input type="hidden" id="UserId" value="@ViewBag" />
                <input type="hidden" id="txtpagename" value="Attendance Muster" />


               

                <div class="preloaderid">  <img class="preloader" style="display:none;" src="~/loading-waiting.gif" /></div>
                <div class="col-md-4">

                    <div class="form-group">
                        <label>Year</label>
                        <select class="form-control" id="Year">

                            @for (int i = DateTime.Now.Year; i >= (DateTime.Now.Year) - 2; i--)
                            {
                                <option value="@i">@i</option>
                            }

                            @* <option value="2025">2025</option> *@

                        </select>
                    </div>

                </div>


                <div class="col-md-4">
                    <div class="form-group">
                        <label>Month</label>
                        <select class="form-control" id="month">
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>

                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-primary" onclick="SearchData()">View</button>
                    <button class="btn btn-primary" onclick="exportExcel()">Export To Excel</button>
                    @* <button class="btn btn-primary" id="Genratepdf">Export To PDF</button> *@
                </div>


                <div class="table-responsive mt-2">
                    <div class="table table-bordered" id="prindDiv" style="overflow-x:auto;" width="100%" cellspacing="0">
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/exceljs@4.3.0/dist/exceljs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.6.0/jspdf.umd.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script src="~/js/reports/materialreport.js"></script>
<script src="~/js/Master.js"></script>
<script src="~/js/InsAjax.js"></script>
<script src="~/js/xlxs.full.min.js"></script>










